body {
    margin: 0;
}
#instructions {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;

    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
#instructions span {
    color: white;
}
#instructions span {
    font-size: 40px;
}
button {
    position: fixed;
    left: 1rem;
    top: 1rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}